<nav
  class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end"
>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Booking</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Contact us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About us</a>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-light" href="#">Log in</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-primary btn-outline-light" href="#">
        Signup
      </button>
    </li>
  </ul>
</nav>
<div>
  <img
    src="../../assets/Banner image 1.png"
    class="img-fluid"
    alt="Responsive image"
  />
</div>
<div class="spacer"></div>
<div
  class="dropdown-background container h-20 d-flex justify-content-around px-10"
>
  <div class="card h-5 w-auto mx-5">
    <div class="card-body">
      <h5 class="card-title h-5 bg-secondary text-center">Location</h5>
      <form>
        <select name="place" class="w-8">
          <option value="Thailand">Thailand</option>
          <option value="Bhali">Bhali</option>
          <option value="Goa">Goa</option>
        </select>
      </form>
    </div>
  </div>
  <div class="card h-5 w-auto mx-5">
    <div class="card-body">
      <h5 class="card-title h-5 bg-secondary text-center">Date</h5>
      <form>
        <select name="place" class="w-8">
          <option value="Thailand">13 june 2022</option>
          <option value="Bhali">14 june 2022</option>
          <option value="Goa">15 june 2022</option>
        </select>
      </form>
    </div>
  </div>
  <div class="card h-5 w-auto mx-5">
    <div class="card-body">
      <h5 class="card-title h-5 bg-secondary text-center">People</h5>
      <form>
        <select name="place" class="w-8">
          <option value="2 peoples">2 peoples</option>
          <option value="2 peoples">3 peoples</option>
          <option value="2 peoples">4 peoples</option>
        </select>
      </form>
    </div>
  </div>
</div>
<div class="spacer"></div>
<div class="headings mb-4">
  <h2 class="title text-center">Our Popular Destinations</h2>
</div>
<div class="spacer"></div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 col-md-6">
      <div class=" bg-light rounded m-t-30">
        <div class="image" >
          <img
            class="img-fluid rounded-top"
            src="../../assets/Image 1.png"
            alt=""
          /> <div class="featured-new " style="color: #AD66FF;">  $200 </div>
          <div class="service_hed text-left">
            <h4>Explore bond Island in Thailand</h4>
            <p>Phi island,Thailand</p>
          </div>
        </div>
        <div class=" p-t-25 p-b-20 p-l-15 p-r-15">
          <div class="d-flex justify-content-between p-3 border-bottom p-t-25 p-b-20 p-l-15 p-r-15">
             <div ><button class=" btn-outline-light rounded"  style="background-color:#666BFF;color: #ffff; border-radius: 25px;">4.3/5</button></div>
            <div ><button class=" btn-outline-light rounded"  style="background-color:#AD66FF;color: #ffff;" >Check enquiry</button></div>
          </div>
      
        </div>
      </div>
    </div>
       <div class="col-12 col-lg-4 col-md-6">
      <div class=" bg-light rounded m-t-30">
        <div  class="image">
          <img
            class="img-fluid rounded-top"
            src="../../assets/Image 2.png"
            alt=""
          /><div class="featured-new " style="color: #AD66FF;">  $345 </div>
          <div class="service_hed text-left">
            <h4>Explore the London City</h4>
            <p>London,UK </p>
          </div>
        </div>
        <div class=" p-t-25 p-b-20 p-l-15 p-r-15">
          <div class="d-flex justify-content-between p-3 border-bottom p-t-25 p-b-20 p-l-15 p-r-15">
             <div ><button class=" btn-outline-light rounded"  style="background-color:#666BFF;color: #ffff; border-radius: 25px;">4.3/5</button></div>
            <div ><button class="btn-outline-light rounded"   style="background-color:#AD66FF;color: #ffff;">Check enquiry</button></div>
          </div>
      
        </div>
      </div>
    </div>
       <div class="col-12 col-lg-4 col-md-6">
      <div class=" bg-light rounded m-t-30">
        <div  class="image">
          <img
            class="img-fluid rounded-top"
            src="../../assets/Image 3.png"
            alt=""
          /><div class="featured-new " style="color: #AD66FF;">  $300 </div>
          <div class="service_hed text-left">
            <h4>Explore the taste of Italy</h4>
            <p>mangalora vilage,Italy</p>
          </div>
        </div>
        <div class=" p-t-25 p-b-20 p-l-15 p-r-15">
          <div class="d-flex justify-content-between p-3 border-bottom p-t-25 p-b-20 p-l-15 p-r-15">
              <div ><button class=" btn-outline-light rounded"  style="background-color:#666BFF;color: #ffff; border-radius: 25px;">4.3/5</button></div>
            <div ><button class=" btn-outline-light rounded"  style="background-color:#AD66FF;color: #ffff;">Check enquiry</button></div>
          </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>
  <div>
  <img
    src="../../assets/Banner image 2.png"
    class="img-fluid"
    alt="Responsive image"
  />
</div>
<div class="spacer"></div>
<div class="headings mb-4">
  <h2 class="title text-center">Other Related Destinations</h2>
</div>
<div class="spacer"></div>
<div class="container">
  <div class="row">
     <div class="col-12 col-lg-4 col-md-6">
        <img
    src="../../assets/India.png"
    class="img-fluid"
    alt="Responsive image"
  />
     </div>
      <div class="col-12 col-lg-4 col-md-6">
        <img
    src="../../assets/Paris.png"
    class="img-fluid"
    alt="Responsive image"
  />
     </div>
      <div class="col-12 col-lg-4 col-md-6">
        <img
    src="../../assets/Japan.png"
    class="img-fluid"
    alt="Responsive image"
  />
     </div>
    </div>
    </div>
